doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Gulp

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body.coverflow

    article

      section
        h1 Gulp
        h3 Gulp is an intuitive, code-over-configuration, streaming build system. It’s fast.

      section
        h1 Start
        h3 Installation
        pre
          code.language-javascript.
            // Install gulp globally
            npm install -g gulp

            // Install gulp in your project devDependencies
            npm install --save-dev gulp

      section
        h3 Create a <a href="#">gulpfile.js</a>

        pre
          code.language-javascript.
            var gulp = require('gulp');

            gulp.task('default', function() {
              // place code for your default task here
            });

      section
        h3 Run gulp
        pre
          code.language-javascript.
            gulp

            // To run individual tasks
            gulp [task] [othertask]

      section
        h3.bullet Gulp 仅有 4 个方法就能组合出你需要的任务流程

        ul
          li 
            a gulp.task(‘taskname’, [‘deps’], fn);
          li 
            a gulp.watch(‘files.js’, [‘tasks’], fn);
          li 
            a gulp.src([’files.js’]);
          li 
            a gulp.dest(’endpoint.js’);

      section
        h1 Example
        pre
          code.language-javascript.
            // 引入 gulp
            var gulp = require('gulp');

            // 引入 Plugins
            var compass = require('gulp-compass');

      section
        pre
          code.language-javascript.

            // 创建 Compass 任务
            gulp.task('compass', function() {
              gulp.src('./src/*.scss')
              .pipe(compass({
                config_file: './config.rb',
                css: 'stylesheets',
                sass: 'sass'
              }))
              .pipe(gulp.dest('app/assets/temp'));
            });

      section
        pre
          code.language-javascript.

            // 创建 Watch 任务
            gulp.task('watch', function() {
              gulp.watch('./src/*.scss', ['compass']);
            });

      section
        pre
          code.language-javascript.

            // 默认任务
            gulp.task('default', ['compass','watch']);

      section
        h1.bullet CoreDesign
        ul.center
          li 
            a Based on Node Streams API
          li Gulp allows you to input your source file(s), pipe them through a bunch of plugins and get an output at the end, rather than configuring each plugin with an input and output

      section
        h1.bullet Stream
        pre
          code.language-javascript.
            gulp.src('*.js') ====================> READ
                    .pipe( doSomething() )
                    .pipe( ... )
                    .pipe( ... )
                    .pipe( ... )
                    .pipe(gulp.dist('./bin')); =========> WRITE

      section
        h3 <a href="#">Grunt</a> VS <a href="#">Gulp</a>

      section
        h3 <a href="#">Grunt</a>
        <img src="http://gtms01.alicdn.com/tps/i1/TB1ctH9FVXXXXX8XVXXhBfk3pXX-963-712.png" style="width:450px;"/>

      section
        h3 <a href="#">Gulp</a>
        <img src="http://gtms02.alicdn.com/tps/i2/TB1l4QXFVXXXXcGXFXXDjCOJVXX-783-522.png" style="width:450px;"/>

      section
        <img src="http://gtms02.alicdn.com/tps/i2/TB1k97dFVXXXXbLXpXXbLRa9VXX-661-367.png" style="width:500px;"/>

      section
        h1 Q&A

    script(src='build/build.js')